:root {
    --main-color: #2a231b;
    --site-color: #fff;
    --soft-color2: #848484;
    --soft-color: #e7e7e7;
    --active-color: #c4943f;
    --first-color: #f0f0f0;
    --second-color: #c0c0c0;
    --third-color: #1f2e38;
    --fourth-color: #c3d7db;
    --pd-now: #FFEB3B;
    --pd-analysis: #9E9E9E;
    --pd-budget: #8ef1d9;
    --pd-partial-purchase: #FF9800;
    --pd-purchased: #2196F3;
    --pd-delivered: #4CAF50;
    --pd-canceled: #F44336;
}

.bg-nav {
    background-color: var(--main-color);
}

.sb-sidenav-five {
    background-color: #f9fafc;
    box-shadow: 0 8px 14px rgba(0, 0, 0, .10), 0 8px 8px rgba(0, 0, 0, .10) !important;
}

.sb-sidenav-five .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(41, 41, 41, 0.5);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link {
    color: rgba(41, 41, 41, 0.9);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(41, 41, 41, 0.9);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgba(41, 41, 41, 0.25);
}

.sb-sidenav-five .sb-sidenav-menu .nav-link:hover {
    color: #181818;
    background-color: #f0efef;
}

.sb-sidenav-five .sb-sidenav-menu .nav-link.active {
    color: #181818;
    background-color: #f0efef;
}

.sb-sidenav-five .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    color: #181818;
    background-color: #f0efef;
}

.sb-sidenav-five .sb-sidenav-footer {
    background-color: #eeeded;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

/* Overlay escuro */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 998;
}

/* Sidebar */
#filterSidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;

    background: #fff;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);

    transition: right 0.3s ease;
    z-index: 999;
}

/* Ativo */
#filterSidebar.active {
    right: 0;
}

#overlay.active {
    display: block;
}

/*Orders Highligts*/

.highlight-analysis{
    border-left: 10px solid var(--pd-analysis) !important;
}
.highlight-budget{
    border-left: 10px solid var(--pd-budget) !important;
}
.highlight-purchased{
    border-left: 10px solid var(--pd-purchased) !important;
}
.highlight-partial-purchase{
    border-left: 10px solid var(--pd-partial-purchase) !important;
}
.highlight-delivered{
    border-left: 10px solid var(--pd-delivered) !important;
}
.highlight-rented{
    border-left: 10px solid var(--pd-purchased) !important;
}
.highlight-returned{
    border-left: 10px solid var(--pd-delivered) !important;
}
.highlight-partial-return{
    border-left: 10px solid var(--pd-partial-purchase) !important;
}
.highlight-canceled{
    border-left: 10px solid var(--pd-canceled) !important;
}

.highlight-purchasing-purchased{
    border-left: 10px solid var(--pd-delivered) !important;
}

.highlight-purchasing-canceled{
    border-left: 10px solid var(--pd-canceled) !important;
}

/** Time line simples para comentário*/
.timeline {
    position: relative;
    padding-left: 10px;
}

.timeline .badge {
    position: relative;
    z-index: 1;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #dee2e6;
    z-index: 0 !important;
}